.comment-buttons {
    display: flex;
    justify-content: flex-end;
}

.comment-button {
    margin: 10px;
}

.comment-delete {
    background-color: rgb(250, 60, 60);
    border: solid rgb(250, 60, 60);
    border-radius: 10px;
    font-size: 8px;
    font-weight: 500;
}

.comment-edit {
        background-color: rgb(151, 199, 241);
    border: solid rgb(151, 199, 241);
    border-radius: 10px;
    font-size: 8px;
    font-weight: 500;
}