.home-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 500px; */
}

.logo-home {
    justify-content: center;
    /* margin-left: 30px;
    margin-right: 50px; */
}

.home-info {
    width: 50%;
}