.home-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 650px;
    margin-right: 650px;
}

.logo-home {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}