.total-user-page {
    margin-top: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-photo {
    border-radius: 6px;
    object-fit: cover;
}

.profile-bio {
   overflow-wrap: normal;
   overflow-y: scroll;
   overflow-x: wrap;
   width: 30%;
   height: auto;
}