
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    /* margin-top: 120px; */
    margin-left: 45px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.signup-button {
  margin-top: 20px;
  /* margin-right: 45px; */
  background-color: rgb(151, 199, 241);
  border: none;
}

.signup-errors {
    text-decoration: none;
    list-style-type: none;
}

.signup-label { 
    margin-right: 100px;
}

.confirm-pass {
    margin-left: 50px;
}