.navbar-container {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  width: auto;
  height: 70px;
  align-items: center;

}

.navbar-root {
    width: 100%;
    position: relative;
    background-color: rgb(171, 208, 243);
    top: 0;
    left: 0;
    right: 0;
    height: 100%
}