.navbar-container {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 70px;
  align-items: center;
  margin-left: 670px;
}

.navbar-root {
    width: auto;
    width: 100%;
    position: relative;
    background-color: rgb(171, 208, 243);
    top: 0;
    left: 0;
    right: 0;
    height: 70%
}

.nav-signup {
  margin-right: 50px;
  margin-left: 0;
}

.nav-login {
  margin-left: 200px;
}

.nav-events {
  /* margin-left: 400px; */
}