.nav-login{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    /* margin-top: 120px; */
    margin-left: 45px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border-radius: 10px;
    /* padding-right: 50px; */
    margin-top: 25px;
}

.login-button-login {
  margin-top: 20px;
  margin-right: 45px;
  background-color: rgb(213, 231, 247);
  border: 1px solid rgb(213, 231, 247);
  border-radius: 10px;
}